.modal-close-button {
    position: fixed;
    background-color: transparent;
    border: none;
    margin-left: 41rem;
    margin-top: -1.1rem;
    font-size: 24px;
    cursor: pointer;
}

input[type="text"] {
    position: fixed;
    width: 42.5rem;
    margin-left: -0.75rem;
    margin-top: 4rem;
    height: 20rem;
    vertical-align: top;
    font-size: 18px;
}

.modal-profile-pic {
    position: fixed;
    width: 5rem;
    margin-top: -2rem;
    margin-left: -0.75vw;
}