html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video 
{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI',
            Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans',
            Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji',
            'Segoe UI Emoji', 'Segoe UI Symbol', 'Lucida Grande', Helvetica, Arial,
            sans-serif;
    vertical-align: baseline;
}

.post-index {
    padding: 1px;
    margin-left: -.1rem;
    height: fit-content;

}

.post-container {
    position: static;
    justify-content: center;
    border-radius: 8px;
    height: fit-content;
    /* padding-left: 15px;
    padding-right: 15px; */
    margin-bottom: 10px;
    background-color: white;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    overflow: hidden;
}

.post-container2 {
    position: static;
    justify-content: center;
    border-radius: 8px;
    height: fit-content;
    /* padding-left: 15px;
    padding-right: 15px; */
    margin-bottom: 10px;
    background-color: white;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    overflow: hidden;
}

.edit-pencil-container{
    margin-left: 32.5rem;
    width: fit-content;
    cursor: pointer;
    height: fit-content;
    border-radius: 10px;
    padding: 8px;
}

.edit-pencil-container:hover {
    background-color: rgba(0, 0, 0, 0.1);   
}

.edit-label{
    margin-left: 2.2rem;
    margin-top: -1.6rem;
    font-size: 16px;
    font-weight: 500;
    opacity: 0.7;
}

.edit-pencil {
    width: 1rem;
}

.trash-container {
    margin-left: 30.5rem;
    margin-top: -2rem;
    height: fit-content;
    width: fit-content;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px;
}

.trash-container:hover {
    background-color: rgba(0, 0, 0, 0.1);   
}

.trash {
    width: 1rem;
}

.delete-post-heading {
    position: absolute;
    text-align: center;
    width: 20.3rem;
    margin-left: -3.2rem;
    margin-top: -1.8rem;
    font-size: 18px;
    font-weight: 300;
}

.delete-post-question {
    text-align: center;
    width: 19rem;
    margin-top: 0.5rem;
    margin-left: -2.5rem;
    color: rgba(0, 0, 0, 0.6);
}

.post-contents1{
    margin-bottom: 1rem;
    height: fit-content;
}

.post-contents2 {
    margin-bottom: 1rem;
    height: fit-content;
}

.post-body-container {
    height: fit-content;
    margin-bottom: 1rem;
    margin-top: 2rem;
    margin-left: 0.6rem;
}

.post-index-divider {
    margin-top: 1rem;
    height: 1px;
    opacity: 0.5;
}

.post-interaction-container {
    display: grid;
    grid-template-columns: 48.25% 48.25% 3.5%;
    height: 2.5rem;
    width: 99%;
    padding: 5px;
    grid-gap: 1rem;
}

.like-button-container {
    grid-area: 1/1/1/2;
    cursor: pointer;
    transition: 0.1s ease-in-out;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
}

.comment-button-container {
    grid-area: 1/2/1/3;
    cursor: pointer;
    transition: 0.1s ease-in-out;
    text-align: center;
    overflow: hidden;
    border-radius: 10px;
}

.like-button-container:hover, 
.comment-button-container:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

.like-png {
    width: 2rem;
    margin-left: -3rem;
    margin-top: 0.35rem;
}

.like-label {
    color: rgba(0, 0, 0, 0.75);
    font-size: 16px;
    font-weight: 500;
    margin-top: -1.6rem;
    margin-left: 1.5rem;
}

.comment-png {
    width: 2rem;
    margin-left: -5rem;
    margin-top: 0.25rem;
}

.comment-label{
    margin-top: 0.6rem;
    color: rgba(0, 0, 0, 0.75);
    font-size: 16px;
    font-weight: 500;   
    margin-top: -1.8rem;
    margin-left: 2.5rem;
}

.user-tag-container{
    width: fit-content;
    margin-left: 4rem;
    margin-top: -3rem;
    font-weight: 600;
}

.comment-form-container {
    display: grid;
    grid-template-columns: 10% 75% 15%;
    grid-gap: 0.2rem;
    height: fit-content;
}

.comment-pfp-container {
    grid-area: 1/1/1/2;
    align-self: center;
}

.comment-input-container {
    grid-area: 1/2/1/2;
    align-self: center;
    height: 3rem;
    width: fit-content;
}

.submit-comment-button-container {
    grid-area: 1/3/1/3;
    align-self: center;
    margin-left: -1rem;
    width: fit-content;
}

.comment-profile-pic {
    width: 3.5rem;
}

.comment-form {
    width: 23rem;
    border-radius: 1.875rem;
    padding-left: 10px;
    padding-right: 10px;
    height: 2rem;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    background-color: white;
    color: rgba(0, 0, 0, 0.8);
    border: 1px solid black;
    text-align: left;
    opacity: 0.7;
    transition: 0.2s ease-in-out;
    margin-top: 0.4rem;
}

.comment-form:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.post-comment-button {
    width: 5rem;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 20px;
    border-color: transparent;
    background-color: #0a66c2;
    color: white;
    height: 2rem;
    transition: 0.1s ease-in-out;
    cursor: pointer;
}

.post-comment-button:hover{
    background-color: #004182;
}

.post-image-container{
    width: 100%;
    max-width: 100%;
    overflow: hidden;
}

.post-attached-image {
    width: 100%;
    height: auto;
}

.pfp-container {
    width: 4rem;
    border-radius: 40px;
    height: 4rem;
    margin-top: -2rem;
    overflow: hidden;
}

.pfp-container2 {
    width: 4rem;
    border-radius: 40px;
    height: 4rem;
    overflow: hidden;
    margin-top: -.1rem;
}

.default-post-pfp {
    width: 100%;
}

.post-user-name-container {
    width: fit-content;
    margin-left: 4rem;
    font-weight: 600;
    margin-top: -3rem;
}

.timestamp-container1 {
    width: fit-content;
    margin-left: 4rem;
    color: rgba(0, 0, 0, 0.5);
}

.timestamp-container2 {
    width: fit-content;
    margin-left: 4rem;
    color: rgba(0, 0, 0, 0.5);
}

.comments-container {
    border: 1px solid red;
    width: 34.5rem;
    height: fit-content;
}