html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video 
{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI',
            Roboto, 'Helvetica Neue', 'Fira Sans', Ubuntu, Oxygen, 'Oxygen Sans',
            Cantarell, 'Droid Sans', 'Apple Color Emoji', 'Segoe UI Emoji',
            'Segoe UI Emoji', 'Segoe UI Symbol', 'Lucida Grande', Helvetica, Arial,
            sans-serif;
    vertical-align: baseline;
}


.nav-container1 {
  display: flex;
  justify-content: center;
  padding-left: 18rem;
  padding-right: 18rem;
  padding-top: 12px;
  padding-bottom: 16px;
  flex-direction: column;
  position: fixed;
  background-color: white;
  width: 100%;
  height: 1.8rem;
  border: 1px solid rgb(232, 232, 232);
  z-index: 1;
}

.nav-container2 {
  position: fixed;
  padding-left: 18rem;
  padding-right: 18rem;
  padding-top: 12px;
  padding-bottom: 16px;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: -0.4rem;
  width: 71.5rem;
}

.left-reached {
  margin-top: 0.3rem;
  font-size: 2.188rem;
  font-weight: 600;
  border: 1px solid transparent;
  background-color: transparent;
  color: #0a66c2;
}

.left-in {
  margin-left: 0.1rem;
  font-size: 2.188rem;
  font-weight: 600;
  padding-right: 0.1rem;
  padding-left: 0.1rem;
  border-radius: 0.2rem;
  border: 1px solid transparent;
  background-color: #0a66c2;
  color: white;
  height: 2.5rem;
}

.right-links {
  display: flex;
  gap: 0.5rem;
}

.signin-button1 {
  width: 6.5rem;
  height: auto;
  padding: 1rem 1rem;
  border-radius: 1.7rem;
  font-size: 1rem;
  font-weight: 600;
  background-color: white;
  color: #0a66c2;
  border: 1px solid #0a66c2;
  text-align: center;
  cursor: pointer;
}

.signin-button1:hover {
  background-color: rgb(242, 247, 254);
}

.joinnow-button1 {
  width: fit-content;
  padding: 1rem 1rem;
  border-radius: 1.7rem;
  font-size: 1rem;
  font-weight: 600;
  background-color: transparent;
  border: 1px solid transparent;
  text-align: center;
  color: rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

.joinnow-button1:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.navlink {
  text-decoration: none;
  color: inherit;
}

.logo-png1 {
  margin-left: 0.5vw;
  width: 2.4rem;
  position: fixed;
  top: 0.6rem;
  cursor: pointer;
}

.home-button {
  width: 5rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 2rem;
  position: fixed;
  width: 20rem;
  height: 3.6rem;
  margin-left: 34rem;
  margin-top: 0.3rem;
}

.home-png {
  width: 1.8rem;
  cursor: pointer;
  margin-left: 0.15rem;
  margin-top: 0.4rem;
}

.home-container {
  width: fit-content;
  overflow: hidden;
  margin-left: 1vw;
}

.home-container::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.2s ease-in-out, left 0.2s ease-in-out;
  transform-origin: 50% 100%;
}

.home-container:hover::before {
  position: absolute;
  width: 10.5%;
}

.home-label {
  font-size: 12px;
}