.profile-dropdown {
  position: absolute;
}

.nav-container {
  margin-top: 0.1rem;
  margin-bottom: 7.1rem;
  padding-top: 12px;
  padding-bottom: 16px;
  display: flex;
  flex-direction: column;
}

.flex-container {
  display: flex;
  align-items: center;
  margin-left: 20vw;
  justify-content: space-between;
}

.left-reached {
  font-size: 2.188rem;
  font-weight: 600;
  border: 1px solid transparent;
  background-color: transparent;
  color: #0a66c2;
}

.left-in {
  margin-left: 0.1rem;
  font-size: 2.188rem;
  font-weight: 600;
  padding-right: 0.1rem;
  padding-left: 0.1rem;
  border-radius: 0.2rem;
  border: 1px solid transparent;
  background-color: #0a66c2;
  color: white;
  width: auto;
  height: 2.5rem;
}

.right-links {
  gap: 0.5rem;
  margin-right: 20vw;
}

.signin-button1{
  width: 6.5rem;
  height: auto;
  padding: 1rem 1rem;
  border-radius: 1.7rem;
  font-size: 1rem;
  font-weight: 600;
  background-color: white;
  color: #0a66c2;
  border: 1px solid #0a66c2;
  text-align: center;
}
.signin-button1:hover {
  background-color: rgb(242, 247, 254);
}

.joinnow-button1 {
  width: 8rem;
  padding: 1rem 1rem;
  border-radius: 1.7rem;
  font-size: 1rem;
  font-weight: 600;
  background-color: transparent;
  border: 1px solid transparent;
  text-align: center;
  color: rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

.joinnow-button1:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.navlink {
  text-decoration: none;
  color: inherit;
}